body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #9333ea;
  padding: 15px;
}

.logo {
  height: 50px;
}

/* LAYOUT */
.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #020617;
  height: 100vh;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1e293b;
}

.main {
  flex: 1;
  padding: 20px;
}

/* SECTIONS */
.hidden {
  display: none;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
}

.stat {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}